<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Walking Dead</title>
  </head>
  <body>
    <h1>The Walking Dead Characters</h1>
    <ul>
      <% for(let char of chars) {%>
      <li><%= char %></li>
      <% } %>
    </ul>
  </body>
</html>
