<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTFUL ROUTES</title>
</head>

<body>
    <h1>RESTFUL ROUTES</h1>

    <div>
        <h2>GET REQUEST to tacos</h2>
        <form action="/tacos" method="get">
            <input type="text" name="meat">
            <input type="text" name="qty">
            <button>Submit</button>
        </form>
    </div>
    <div>
        <h2>POSt REQUEST to tacos</h2>
        <form action="/tacos" method="post">
            <input type="text" name="meat">
            <input type="text" name="qty">
            <button>Submit</button>
        </form>
    </div>

</body>

</html>