<h1>Create new farm</h1>

<form action="/farms" method="post">
  <div>
    <label for="name">Farm Name</label>
    <input type="text" name="farm[name]" id="name" />
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="farm[email]" id="email" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="farm[location]" id="location" />
  </div>
  <div>
    <button type="submit">Create</button>
  </div>
</form>
<a href="/farms"><button>Cancel</button></a>
