<h1><%= farm.name %></h1>

<p><%= farm.email %></p>
<p><%= farm.location %></p>
<a href="/farms">Back to all Farms</a>
<form action="/farms/<%= farm.id %>?_method=Delete" method="post">
  <button type="submit">Delete Farm</button>
</form>
