<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
  </head>

  <body>
    <h1>Magical Farms</h1>

    <% for(let farm of farms){ %>
    <div>
      <h4>
        <%= farm.name %> - <%= farm.city %> :
        <span><a href="farms/<%= farm.id %> ">View Farm</a></span>
      </h4>
    </div>
    <% } %>
    <a href="/farms/new"><button>New Farm</button></a>
  </body>
</html>
